.prompt 
  h2 prompt
  
  h3 1.模板
  h5(hljs hljs-language="javascript") 
    | component-prompt(
    |    p-title="气泡提示内容"
    |  )
    
  h3 2.实例
  h5
   component-prompt(
      p-title="气泡提示内容"
    )
    
  
