.dateTime{
    .dateShow{
        margin-top: 10px;
        width: 143px;
        height: 32px;
        line-height: 32px;
        border-radius: 3px;
        margin-left: 3px;
        padding-left: 8px;
        color: red;
        border: 1px solid #ccc;
    }
    .dateShow2{
        width: 110px;
    }
}
