.search {
  .value {
    margin-left: 10px;
    color       : red;
  }

  .setting {
    margin-bottom: 50px;
  }

  .searchShow {
    width  : 300px;
    height : 100px;
    border : 1px solid #ccc;
    padding: 20px;
    color  : red;
  }

  .print{
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
