/* 基础颜色配置 底层scss变量、常量、样式、方法等封装 */
/*
 *  普通变量：$color-name: {value};
 *
 *  数组变量：$color-name-arr: (arg1, arg2);
 *
 *  map变量：$color-name-map: (key1: value1, key2: value2);
 *
 *  mixin方法封装：@mixin baseColorName($args){}
 *
 *  function方法封装：@function baseColorName($args){}
 *
 *  占位符封装：%baseColorName{}
 */

/**
 * 可变颜色管理
 * @type {Map}
 */
$color-replaceable-map:(
    normal:(
        first: (
            main: #48AB5D,
            press: #36994B,
            deep: #047940,
            unclick: #7ab59a,
        ),
        second: (
            main: #FC7335,
            press: #E76024,
        ),
        bt: (
            main: #4A5864,
        ),
        nav: (
            bg: #36474F,
            logobg: #20232D,
            focus: #576071,
            hover: #213440,
        ),
        sales: (
            focus: #949CA3,
            hover: #0F181C,
        ),
        app: (
            bg: #EFF3F6,
        ),
        assist: (
            aid1: #93B6B7,
        ),
    ),
);


/**
 * 固定色值
 * @type {Map}
 */
$color-fixed-map: (
    main: (
        first: #2A2D33,
        second: #36474F,
    ),
    aid: (
        w1: #455161,
        w2: #727378,
        w3: #8C8D92,
        w4: #949ca3,
        w5: #C4D0D9,
    ),
    border: (
        b1: #D6DBDF,
        b2: #D6DADE,
        b3: #D9D9D9,
        b4: #B8C5CF,
    ),
    nav: (
        hoverword: #667C91,
    ),
    avatar:(
        base: #8499ac,
    ),
);


/**
 * 比较轻的色值
 * @type {Map}
 */
$color-light-map:(
    alert: (
        bg: #FAFAFA,
    ),
    form: (
        head1: #F8F9FB,
        head2: #F2F4F7,
        zebra: #FBFBFB,
        on: #F3F9FF,
    ),
    search: (
        aid: #F9F9F9,
    )
);

/**
 * 循环色
 * @type {Map}
 */
 $color-loop-map:(
     normal:(
         n1: (#5dc6bb,#49baaf,#c1e8e4),
         n2: (#58a5da,#4c98ce,#bbd9ee),
         n3: (#c09176,#be825f,#d8cac2),
         n4: (#e88e77,#e47e65,#f6d4cb),
         n5: (#79bdbf,#63b5b7,#c9dadb),
         n6: (#8686dc,#7c7cda,#cdcde6),
         n7: (#d379d3,#ce6dce,#e1b5e3),
         n8: (#7a99b6,#6c90b3,#b5c4d5),
         n9: (#a1aeba,#91a2b3,#c9cfd7),
     ),
 );
